button {
  border-radius: 8px;
  border: none;
  background: none;
  cursor: pointer;
  width: 100%;
}

nav {
  font-size: 20px;
  font-weight: bold;
}

a:focus,
button:focus {
  outline: none;
}

button.read {
  background-color: rgb(221, 160, 221);
  font-size: 16px;
  color: #ffffff;
  font-weight: bold;
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.297);
  padding: 8px;
}

button.read:hover {
  box-shadow: none;
}

body {
  background-color: #f2f2f2;
}

.App header {
  margin-top: 20px;
  text-align: center;
}

.App section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0px;
  padding-bottom: 50px;
}

.nav_item {
  text-align: center;
}

.card {
  margin-top: 32px;
  border-radius: 8px;
  box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.297);
  padding: 16px;
  width: 400px;
  text-align: center;
  background-color: #ffffff;
}

.card a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-weight: bold;
}

.card p {
  font-size: 14px;
}

.cover_image {
  width: 300px;
  margin-bottom: 8px;
}
